<div *ngIf="item">
  <ion-img [src]="item.photo" [alt]="item.id" style="width: 100%; height: 100%;" (ionError)="imgError()"></ion-img>
</div>
<ion-card-content *ngIf="item"><ion-text color="dark">{{ item.text }}</ion-text></ion-card-content>