<ion-virtual-scroll [items]="items" approxItemHeight="700px">
  <ion-card *virtualItem="let item; let itemBounds = bounds;">
    <app-image [item]="item"></app-image>
  </ion-card>
</ion-virtual-scroll>