<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Prueba Filtrado
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="ios" placeholder="Filtrar..." (ionChange)="search($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-image-list [items]="items"></app-image-list>
</ion-content>
